<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fh_swf.mechatronik">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"
            android:xlargeScreens="true">
    </supports-screens>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/wrench_icon"
            android:label="Mechatronik-Steuerung"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:configChanges="keyboardHidden|screenSize"
                android:label="Mechatronik-Steuerung"
                android:screenOrientation="landscape"
                android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
                android:name=".activities.OptionsActivity"
                android:screenOrientation="landscape">

        </activity>
        <activity android:name=".activities.DeviceListActivity"
                  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.WifiConnectionActivity"
                  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.ProfileActivity"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.MainActivitySegway"
                android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activities.MainActivityHexapod"
                  android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>